# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tools
standalone/ethstore/index
standalone/ethstore/log
standalone/svg




standalone/ethstore/workload/workload
standalone/ethstore/testWorkload/testWorkload

go-ethereum-1.15.7/ethdb/prefixdb/question.md
go-ycsb
go-ycsb/*
go-ycsb
standalone/ethstore/workload/monitoe.sh
standalone/ethstore/tool_script/*
go-ycsb
*.DS_Store
standalone/ethstore/workload/vtuneAna.sh
standalone/ethstore/workload/vtuneOut/

standalone/ethstore/toolScript/*
standalone/ethstore/workload/vtuneAna.sh
