# Prerequisites
*.d
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tools
THEO/index
THEO/log
THEO/svg




replayWorkload/workload
THEO/testWorkload/testWorkload

go-ethereum-1.15.7/ethdb/prefixdb/question.md
go-ycsb
go-ycsb/*
go-ycsb
replayWorkload/monitoe.sh
go-ycsb
*.DS_Store
replayWorkload/replayWorkload
replayWorkload/bin/*
replayWorkload/replayLog/*
replayWorkload/*.log
replayWorkload/*.out